# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / Packaging
build/
dist/
*.egg-info/

# Database
*.db
*.sqlite
*.sqlite3

# Environment variables
.env

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db